/* #region first settings */
body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion first settings */


/* #region container */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } 
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;  
    } 
}
/* #endregion container */


/* #region header  */

.head {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-head {
    display: block;
    padding: 16px 0;
}

.logo .logo-studio {
    color: #2E2F42;
    
}

.head-list,
.add_ress {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .logo-head {
        margin-right: 120px;
        padding: 24px 0;
    }

    .head-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-list-links {
        position: relative;
    }

    .links {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #2E2F42;
        line-height: 1.5;
        padding: 24px 0;
        display: block;
    }

    .links:hover {
    color: #404bbf;
    }

    .links:focus {
        color: #404bbf;
    }

    #first {
        position: relative;
        color: #404bbf;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    #first::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: inline-block;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background-color: #404BBF;
    }
    
    .add_ress {
        display: flex;
        color: #434455;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .info-address {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #434455;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .info-address:hover,
    .info-address:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .logo-head {
        margin-right: 76px;
        
    }


    .address-list {
        flex-direction: row;
        gap: 40px;
    }
}

/* #endregion header  */


