/* #region first settings */
body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

button,
a {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion first settings */


/* #region container */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion container */


/* #region header  */

.head {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-head {
    display: block;
    padding: 16px 0;
}

.logo .logo-studio {
    color: #2E2F42;

}

.head-list,
.add_ress {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .logo-head {
        margin-right: 120px;
        padding: 24px 0;
    }

    .head-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-list-links {
        position: relative;
    }

    .links {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #2E2F42;
        line-height: 1.5;
        padding: 24px 0;
        display: block;
    }

    .links:hover {
        color: #404bbf;
    }

    .links:focus {
        color: #404bbf;
    }

    #first {
        position: relative;
        color: #404bbf;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    #first::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: inline-block;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background-color: #404BBF;
    }

    .add_ress {
        display: flex;
        color: #434455;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .info-address {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #434455;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .info-address:hover,
    .info-address:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .logo-head {
        margin-right: 76px;

    }


    .address-list {
        flex-direction: row;
        gap: 40px;
    }
}

/* #endregion header  */


/* #region mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999999999999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-men.is-open-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding: 72px 24px 40px 16px;

    display: flex;
    flex-direction: column;
    height: 100%;
}


.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    fill: #ffff;
    outline: none;
    border: none;

}

.mobile-head-list {
    margin-bottom: 168px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

}

.mobile-links {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.mobile-links:hover {
    color: #404bbf;
}

.mobile-add_ress {
    display: flex;
    color: #434455;
    font-style: normal;
    margin-bottom: 48px;
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.mobile-info-address {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-info-addres:hover {
    color: #404bbf;
}


.social-mobile-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-socal {
    height: 40px;
    width: 40px;
}

.link-icon-mobile {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12px 12px;
    display: flex;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon-mobile:hover {
    background-color: #404bbf;
}

.social-icon-mobile {

    fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion mobile menu */


/* #region sec-first */

.sec-first {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-mob1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    height: 432px;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}


.page-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.sec-first-btn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bttn:hover {
    background-color: #404BBF;
}

@media (min-resolution: 192dpi) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-mob2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-tab1x.jpg);
        height: 436px;
        max-width: 768px;
        padding: 112px 0;
    }

    .page-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .sec-first-btn:hover {
        background-color: #404BBF;
    }

    .sec-first-btn:focus {
        background-color: #404BBF;
    }
}

@media (min-resolution: 192dpi) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-tab2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office.jpg);
        height: 600px;
        padding: 188px 0;
        max-width: 1440px;
    }

    .page-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 48px;
    }

}

@media (min-resolution: 192dpi) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-main2x.jpg);
    }
}

/* #endregion sec-first */


/* #region sec-second */

.sec-cecond {
    margin: 0 auto;
    padding: 96px 0;
}

.main-title-sec-cecond {
    text-decoration: none;
}

.list-sec-cecond {
    display: flex;
    flex-direction: column;
    row-gap: 72px;


}

.icon {
    display: none;

}

.title-sec-cecond {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}


.paragraph-sec-cecond {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .list-sec-cecond {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
    }

    .items-list {
        width: calc((100% - 24px) / 2);
    }

    .title-sec-cecond {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {

    .sec-cecond {
        padding: 120px 0;
    }

    .list-sec-cecond {
        display: flex;
        flex-wrap: nowrap;
        row-gap: 0;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
    }

    .items-list {
        flex-basis: calc((100% - 72px) / 4);
    }

    .title-sec-cecond {
        font-size: 20px;

        font-weight: 500;
        line-height: 1.2;

    }

    .paragraph-sec-cecond {
        font-size: 16px;

        font-weight: 400;
        line-height: 1.5;


    }

}

/* #endregion sec-second */


/* #region sec-third */

.sec-third {
    background-color: #F4F4FD;
    margin: 0 auto;
    height: 2232px;
    padding: 96px 0;
}

.main-title-sec-third {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
    text-transform: capitalize;
}


.list-sec-third {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.li-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* #endregion sec-third */