/* #region first settings */
body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion first settings */


/* #region header  */

.head {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head .container {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 76px;
    flex-grow: 1;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}


.head-list {
    display: flex;
    gap: 40px;

}


.nav-list-links {
    position: relative;
}

.links {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;

}

.links:hover {
    color: #404bbf;
}

.links:focus {
    color: #404bbf;
}

#first {
    position: relative;
    color: #404bbf;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#first::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404BBF;



}


/*************************** Address *****************************/

.add_ress {
    display: flex;
    color: #434455;
    font-style: normal;


}

.address-list {
    display: flex;
    gap: 40px;
}

.info-address {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-address:hover,
.info-address:focus {
    color: #404bbf;
}

/* #endregion header  */


/* #region section 1 */

.sec-first {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.page-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.bttn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.bttn:hover {
    background-color: #404BBF;
}

.bttn:focus {
    background-color: #404BBF;
}

/* #endregion section 1 */


/* #region section 2 */
.sec-cecond {
    margin: 0 auto;
    padding: 120px 0;
}


.main-title-sec-cecond {
    text-decoration: none;

}

.list-sec-cecond {
    display: flex;
    align-items: center;
    gap: 24px;
}

.items-list {
    flex-basis: calc((100% - 72px) / 4);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}


.title-sec-cecond {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-sec-cecond {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

/* #endregion section 2 */


/* #region section 3 */


.sec-third {
    background-color: #F4F4FD;
    margin: 0 auto;
    height: 732px;
    padding: 120px 0;
}


.main-title-sec-third {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.list-sec-third {
    display: flex;
    gap: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.li-item {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.info-sec-third {
    text-align: center;
    padding: 32px 0;
}

.title-sec-third {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.paragraph-sec-third {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}



.list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;


}

.li-list-social {
    width: 40px;
    height: 40px;
}

.link-icon {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon:hover,
.link-icon:focus {
    background-color: #404bbf;
}

.social-icon {

    fill: #f4f4fd;
}

/* #endregion section 3 */


/* #region section 4 */

.sec-fourth {
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-title-fourth {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-sec-fourth {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}


.portfolio {
    width: calc((100% - 48px) / 3);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.img-portfolio {
    position: relative;
    overflow: hidden;
}


.paragraph-img {
    position: absolute;
    top: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-portfolio:hover .paragraph-img {
    transform: translateY(0);
}


.items_of_portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}


.title-sec-fourth {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-sec-fourth {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;

}

/* #endregion section 4 */


/* #region footer */    

.foo_ter {
    display: flex;
    background-color: #2E2F42;
    text-align: left;
    height: 312px;
    padding: 100px 0;
}

.foo_ter .container {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.info-footer {
    margin-right: 120px;
}

.foo_ter .logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.foo_ter .logo-studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-paragraph {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}


.footer-social {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


.social-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-footer-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.li-social-title {
    width: 40px;
    height: 40px;
}

.link-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon-footer:hover,
.link-icon-footer:focus {
    background-color: #31d0aa;
}

.social-icon-footer {
    fill: #F4F4FD;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /*   */
}

.sub-p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.sub-form {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    margin-left: 80px;
}


.sub-input {
    /* display: inline-flex; */
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    border: 1px solid #ffffff;
    padding-left: 16px;
    

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffff;
}

.sub-input:hover,
.sub-input:focus {
    outline: none;
    color: #fff;
}

.sub-input::placeholder {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

/* .e-mail {
    position: relative;
} */

.sub-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    margin: 0;
    cursor: pointer;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffff;
    cursor: pointer;

    padding: 8px 24px;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;

    
    text-align: center;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:hover,
.sub-btn:focus {
    background-color: #31d0aa;
}

.social-icon-subscribe {
    fill: #fff;
    margin-left: 16px;
}

.sub-btn + .social-icon-subscribe {
    position: absolute;
    top: 10px;
    right: 24px;
    
    fill: #fff;
}

/* #endregion footer */


/* #region background-site */

.background-site {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 9999999999;

    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background-site .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;


    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    fill: #ffff;
    outline: none;
    border: none;

}

.icon-back {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-back:hover,
.icon-back:focus {
    fill: #ffff;

}

.form-send {
    
}

.form-wrap {
    margin-bottom: 8px;
    

}

.mar-under-policy {
    margin-bottom: 16px;
}


.form-lb {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

}

.wrap {
    position: relative;

}

.input-info {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-info:focus {
    border-color: #4D5AE5;


}

.icon-back-form {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap .input-info:focus+.icon-back-form {
    fill: #4D5AE5;
}


.form-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    transition: border-color     250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: transparent;
    resize: none;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-comment:hover,
.form-comment:focus {
    border-color: #4D5AE5;
}


.check-policy {

    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.title-policy {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    text-align: center;
}

.castom-chekbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    height: 16px;
    width: 16px;
    padding: 4px 3px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.check-policy:checked+.title-policy>.castom-chekbox {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.check-mark {
    width: 10px;
    height: 8px;
}

.link-policy {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;


}

.mar-under-btm {
    margin-bottom: 24px;
}

.send-form {
    display: block;
    margin: 0 auto;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form:hover,
.send-form:focus {
    background-color: #404bbf;

}

/* #endregion background-site */