/* #region first settings */
body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

button,
a {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion first settings */


/* #region container */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion container */


/* #region header  */

.head {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-head {
    display: block;
    padding: 16px 0;
}

.logo .logo-studio {
    color: #2E2F42;

}

.head-list,
.add_ress {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .logo-head {
        margin-right: 120px;
        padding: 24px 0;
    }

    .head-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-list-links {
        position: relative;
    }

    .links {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #2E2F42;
        line-height: 1.5;
        padding: 24px 0;
        display: block;
    }

    .links:hover {
        color: #404bbf;
    }

    .links:focus {
        color: #404bbf;
    }

    #first {
        position: relative;
        color: #404bbf;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    #first::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: inline-block;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background-color: #404BBF;
    }

    .add_ress {
        display: flex;
        color: #434455;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .info-address {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #434455;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .info-address:hover,
    .info-address:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .logo-head {
        margin-right: 76px;

    }


    .address-list {
        flex-direction: row;
        gap: 40px;
    }
}

/* #endregion header  */


/* #region mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-men.is-open-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding: 72px 24px 40px 16px;

    display: flex;
    flex-direction: column;
    height: 100%;
}


.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    fill: #ffff;
    outline: none;
    border: none;

}

.mobile-head-list {
    margin-bottom: 168px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

}

.mobile-links {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.mobile-links:hover {
    color: #404bbf;
}

.mobile-add_ress {
    display: flex;
    color: #434455;
    font-style: normal;
    margin-bottom: 48px;
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.mobile-info-address {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-info-addres:hover {
    color: #404bbf;
}


.social-mobile-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

.li-social {
    height: 40px;
    width: 40px;
}

.link-icon-mobile {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon-mobile:hover {
    background-color: #31d0aa;
}

.social-icon-mobile {
    fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion mobile menu */


/* #region sec-first */

.sec-first {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-mob1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    height: 432px;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}


.page-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.sec-first-btn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bttn:hover {
    background-color: #404BBF;
}

@media (min-resolution: 192dpi) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-mob2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-tab1x.jpg);
        height: 436px;
        max-width: 768px;
        padding: 112px 0;
    }

    .page-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .sec-first-btn:hover {
        background-color: #404BBF;
    }

    .sec-first-btn:focus {
        background-color: #404BBF;
    }
}

@media (min-resolution: 192dpi) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-tab2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office.jpg);
        height: 600px;
        padding: 188px 0;
        max-width: 1440px;
    }

    .page-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 48px;
    }

}

@media (min-resolution: 192dpi) {
    .sec-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office-main2x.jpg);
    }
}

/* #endregion sec-first */


/* #region sec-second */

.sec-cecond {
    margin: 0 auto;
    padding: 96px 0;
}

.main-title-sec-cecond {
    text-decoration: none;
}

.list-sec-cecond {
    display: flex;
    flex-direction: column;
    row-gap: 72px;


}

.icon {
    display: none;

}

.title-sec-cecond {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}


.paragraph-sec-cecond {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .list-sec-cecond {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
    }

    .items-list {
        width: calc((100% - 24px) / 2);
    }

    .title-sec-cecond {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {

    .sec-cecond {
        padding: 120px 0;
    }

    .list-sec-cecond {
        display: flex;
        flex-wrap: nowrap;
        row-gap: 0;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
    }

    .items-list {
        flex-basis: calc((100% - 72px) / 4);
    }

    .title-sec-cecond {
        font-size: 20px;

        font-weight: 500;
        line-height: 1.2;

    }

    .paragraph-sec-cecond {
        font-size: 16px;

        font-weight: 400;
        line-height: 1.5;


    }

}

/* #endregion sec-second */


/* #region sec-third */

.sec-third {
    background-color: #F4F4FD;
    margin: 0 auto;
    max-height: 2232px;
    padding: 96px 0;
    
}

.main-title-sec-third {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
    text-transform: capitalize;
}


.list-sec-third {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 72px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.li-item {
    /* max-width: 264px; */
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.info-sec-third {
    text-align: center;
    padding: 32px 0;
}  

.title-sec-third {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.paragraph-sec-third {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.li-list-social {
    width: 40px;
    height: 40px;
}

.link-icon {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon:hover {
    background-color: #404bbf;
}

.social-icon {

    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

    .sec-third {
        height: 1224px;
    }

    .list-sec-third {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;   
           
    }

    .li-item {
        max-width: 264px;
        flex-basis: calc((100% - 24px) / 2);
    
    }
}

@media screen and (min-width: 1158px) {
    .sec-third {
        padding: 120px 0;
        max-height: 780px;
    }

    .list-sec-third {
        row-gap: 0;
    }

    .li-item {
        flex-basis: calc((100% - 72px) / 4);
    }
}
/* #endregion sec-third */


/* #region sec-fourth */
.sec-fourth {
    margin: 0 auto;
    padding: 96px 0;
}

.page-title-fourth {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-sec-fourth {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    
}

.portfolio {    
    max-width: 288px;
    max-height: 400px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.paragraph-img {
    display: none;
}

.title-sec-fourth {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.items_of_portfolio {
    border-top: none;   
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
    height: 120px;
}

.paragraph-sec-fourth {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .list-sec-fourth {
        display: flex;
        flex-direction: row;
        flex-wrap:  wrap;
        justify-content: center;
        align-items: center;
        row-gap: 72px;
        column-gap: 24px;
    }

    .portfolio {
        max-width: 356px;
        max-height: 420px;
        flex-basis: calc((100% - 24px) / 2);
    }

    
}

@media screen and (min-width: 1158px) {
    .sec-fourth {
        padding: 120px 0;
    }

    .list-sec-fourth {

        column-gap: 24px;
        row-gap: 48px;

        padding: 0;
        margin: 0;
    }

    .portfolio {
        max-width: 360px;
        max-height: 420px;
        width: calc((100% - 48px) / 3);

    }

    .paragraph-img {
        display: block;
    }

    .img-portfolio {
        position: relative;
        overflow: hidden;
    }


    .paragraph-img {
        position: absolute;
        top: 0;

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        padding: 40px 32px;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-portfolio:hover .paragraph-img {
        transform: translateY(0);
    }

 }
/* #endregion sec-fourth */


/* #region footer */    
.foo_ter {
    background-color: #2E2F42;
    padding: 96px 0;
    max-height: 664px;
}

.form-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
}

.form-list-li {
    text-align: center;
}

.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
    text-align: center;
}

.logo-studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}


.footer-paragraph {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
    text-align: left;
}   

.social-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}


.social-footer-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.li-social-title {
    width: 40px;
    height: 40px;
}

.link-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon-footer:hover,
.link-icon-footer:focus {
    background-color: #31d0aa;
}

.social-icon-footer {
    fill: #F4F4FD;
}



.sub-p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.sub-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.sub-input {
    border: 1px solid #fff;
    border-radius: 4px;
    min-width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    
    padding-left: 16px;
    

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffff;
}

.sub-input:hover {
    outline: none;
    color: #fff;
    border: 1px solid #31d0aa;
}

.sub-input::placeholder {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.sub-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffff;
    cursor: pointer;

    padding: 8px 24px;
    border-radius: 4px;
    max-width: 165px;
    height: 40px;
    background-color: #4D5AE5;

    
    text-align: center;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:hover {
    background-color: #31d0aa;
}

.social-icon-subscribe {
    fill: #fff;
    margin-left: 16px;
}

.sub-btn + .social-icon-subscribe {
    position: absolute;
    top: 10px;
    right: 24px;
    
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .foo_ter {
        max-height: 456px;
        
    }

    .form-list {
        margin-left: 108px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 24px;
        align-items: baseline;
    }

    .form-list-li {
        display: flex;
        flex-wrap: wrap;
        max-width: 264px;
        flex-basis: calc((100% - 24px) / 2);
    }

    .footer-paragraph {
        max-width: 264px;
    }

    .sub-form {
        flex-direction: row;
        justify-content: flex-start;
        gap: 24px;
        
    }

    .sub-input {
        min-width: 264px;
    }
}


@media screen and (min-width: 1158px) {
    .foo_ter {
        height: 312px;
        padding: 100px 0;
    }

    .form-list {
        margin-left: 0;
        row-gap: 0;
        column-gap: 0;
    }

    .form-list-li {
        flex-basis: auto;
    }
    
    .form-list-li.second {
        margin-left: 120px;
        margin-right: 80px;
        max-width: 208px;
    }

    .form-list-li.third {
        
        max-width: 453px;
    }
    
}


/* #endregion footer */ 


/* #region background-site */

.background-site {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 9999999999;

    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background-site.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    padding: 72px 16px 24px 16px;


    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}


.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
    background-color: #404bbf;
    fill: #ffff;
    outline: none;
    border: none;

}

.icon-back {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-back:hover {
    fill: #ffff;

}

.form-wrap {
    margin-bottom: 8px;
}

.mar-under-policy {
    margin-bottom: 16px;
}

.form-lb {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.wrap {
    position: relative;

}

.input-info {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-back-form {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    transition: border-color     250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: transparent;
    resize: none;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-comment:hover {
    border-color: #4D5AE5;
}

.check-policy {

    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.title-policy {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    text-align: center;

    max-width: 256px;
    display: flex;
    align-items: center;
}

.castom-chekbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    height: 16px;
    width: 16px;
    padding: 4px 3px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.check-policy:checked+.title-policy>.castom-chekbox {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.check-mark {
    width: 10px;
    height: 8px;
}

.link-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.mar-under-btm {
    margin-bottom: 24px;
}

.send-form {
    display: block;
    margin: 0 auto;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form:hover {
    background-color: #404bbf;

}

@media screen and (min-width: 768px) {
    .popup {
        min-width: 408px;
        padding-left: 24px;
        padding-right: 24px;
        min-height: 584px;
    }

    .title-policy {
        display: inline;
    }
    
    .link-policy {
        display: inline;
    }

    .close-btn:focus {
    background-color: #404bbf;
    fill: #ffff;
    outline: none;
    border: none;

    }

    .icon-back:focus {
        fill: #ffff;

    }


    .input-info:focus {
        border-color: #4D5AE5;
    }


    .wrap .input-info:focus+.icon-back-form {
        fill: #4D5AE5;
    }



    .form-comment:focus {
        border-color: #4D5AE5;
    }




    .send-form:focus {
        background-color: #404bbf;

    }

}



/* #endregion background-site */